@model ValidaArquivoSiteMVC.Models.UsuarioModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>

    @using (Html.BeginForm("Cadastrar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Cadastro</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Senha)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Senha)
                @Html.ValidationMessageFor(model => model.Senha)
            </div>

            <p>
                <input type="submit" value="Cadastrar" />
            </p>
            <p>
                @Html.ActionLink("Voltar", "Index")
            </p>
        </fieldset>
    }

</body>
</html>
