@model ValidaArquivoSiteMVC.Models.UsuarioModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/JQuery/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="Jumbotron">
        <div class="container">
            <div class="row">
                <legend>Acesso</legend>

                <div id="" class="col-md-12">

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)           
                        
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Login, new { placeholder = "Login" })
                            @Html.ValidationMessageFor(model => model.Login)
                        </div>   
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Senha, new { placeholder = "Senha" })
                            @Html.ValidationMessageFor(model => model.Senha)
                        </div>    
                        <div class="form-group">
                            <input type="submit" value="Entrar" class="btn btn-primary" />
                        </div>   
                    }
                </div>
                </div>
           <div class="row">
                <div id="" class="col-md-12">
                    <div>
                        @Html.ActionLink("Cadastre-se ", "Cadastro")
                        @TempData["mensagemErro"]
                    </div>
                </div>
          </div>
          <div class="row">
                <div id="" class="col-md-12">
                    <img class="img-responsive" src="~/images/logo.jpg" />
                </div>
          </div>
        </div>
    </div>
</body>
</html>
